.card{
position:relative;
width:220px;
margin-right:10px;
}

.card img{
width:100%;
border-radius:5px;
transition:.4s;
}

.hover{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.7);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
opacity:0;
transition:.4s;
}

.card:hover .hover{
opacity:1;
}

.card:hover img{
transform:scale(1.08);
}